Repository harkkozz/nextjs-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

add lint-staged
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: none

add lint-staged
  .lintstagedrc
Due: none

add lint-staged
  package.json
Due: none

lint staged fixes
  .lintstagedrc
  src/components/TypesafeI18nProvider.tsx
Due: eslint --fix, prettier --write

lint staged fixes check
  .lintstagedrc
  .lintstagedrc.js
  .node-version
  __mocks__/styleMock.js
  __mocks__/svg.tsx
  jest.config.js
  package.json
  pnpm-lock.yaml
  src/components/TypesafeI18nProvider.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

add some content to pages with serversideprops, update some other configs
  package.json
  pnpm-lock.yaml
  src/__mocks__/styleMock.js
  src/__mocks__/svg.tsx
  src/components/TypesafeI18nProvider.tsx
  src/components/UnitTestWrapper.tsx
  src/i18n/en/aboutPage/index.ts
  src/i18n/en/homePage/index.ts
  src/i18n/en/index.ts
  src/i18n/en/profilePage/index.ts
  src/i18n/i18n-types.ts
  src/i18n/i18n-util.async.ts
  src/i18n/i18n-util.sync.ts
  src/i18n/i18n-util.ts
  src/pages/about/index.tsx
  src/pages/index.tsx
  src/pages/profile/[id]/index.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

updated README
  README.md
  package.json
Due: none

add some utils folders
  jest.config.js
  src/__tests__/pages.test.tsx
  src/utils/constants/example.ts
  src/utils/helpers/example.ts
  src/utils/hooks/example.ts
Due: eslint --fix, prettier --write

cover i18n props with test
  i18n/i18n-util.async.ts
  src/utils/helpers/server/getI18nProps.test.ts
Due: eslint --fix, prettier --write

remove i18n from root dir
  .prettierignore
  i18n/de/index.ts
  i18n/en/index.ts
  i18n/formatters.ts
  i18n/i18n-react.tsx
  i18n/i18n-types.ts
  i18n/i18n-util.async.ts
  i18n/i18n-util.sync.ts
  i18n/i18n-util.ts
  pnpm-lock.yaml
  src/i18n/formatters.ts
  src/pages/_document.tsx
  src/styles/styles.css
Due: eslint --fix, prettier --write, stylelint --fix

chore: add node version
  .node-version
Due: none

chore: add husky shell and github workflow
  .github/CODEOWNERS
  .github/actions/pnpm-setup/action.yml
  .github/workflows/ci.yml
  .github/workflows/pull-request.yml
  .husky/commit-msg
  .lintstagedrc.js
  package.json
  pnpm-lock.yaml
  tsconfig.build.json
Due: none

chore: update lock file
  pnpm-lock.yaml
Due: none

chore: run prettier format
  renovate.json
Due: none

chore: install dependencies and fix broken lock
  .typesafe-i18n.json
  next.config.js
  pnpm-lock.yaml
  src/pages/_app.tsx
Due: eslint --fix, prettier --write

chore: update dependancies and migrate react query to v5
  next.config.js
  package.json
  pnpm-lock.yaml
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix, prettier --write

chore: update dependancies
  .babelrc.js
  package.json
  pnpm-lock.yaml
Due: none

chore(package-lock): update package lock
  pnpm-lock.yaml
Due: none

chore(package.json): amend
  package.json
Due: none

chore(renovate-config): update config
  renovate.json
Due: none

chore(husky): update husky config
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore(husky): update husky config
  package.json
Due: none

chore(renovate-config): schedule for only Mondays
  renovate.json
Due: none

chore: replace jsx with reactelement type
  .eslintignore
  next.config.js
  package.json
  src/components/TypesafeI18nProvider.tsx
  tsconfig.json
Due: eslint --fix, prettier --write

chore: update lint staged eslint
  package.json
Due: none

Path conditions:
  eslint --fix: any of: src/**/*.{js,jsx,ts,tsx}
  prettier --write: (any of: src/**/*.{js,jsx,ts,tsx}) or (any of: src/**/*.{css,scss})
  stylelint --fix: any of: src/**/*.{css,scss}
